[submodule "Day-18/Task-Management-system"]
	path = Day-18/Task-Management-system
	url = https://github.com/sameeryadav05/Note.git
[submodule "Day-21"]
	path = Day-21
	url = https://github.com/sameeryadav05/React_Portfolio.git
[submodule "Day-16"]
	path = Day-16
	url = https://github.com/sameeryadav05/E-commerce-store.git
