*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width:0px;
}
.Weather-Box{
    height: fit-content;
    width: 30%;
    color: white;
    border-radius: 1.5rem;
    box-shadow: 0 4px 32px 0 rgba(31, 38, 135, 0.17);
        background-color: #3e326cad;
        /* background: rgba(255, 255, 255, 0.13); 
          backdrop-filter: blur(13px);    
        -webkit-backdrop-filter: blur(13px);    */
}::-webkit-scrollbar {
  display: none;
}
.search-box #search{
  position: absolute;
  color: rgba(0, 0, 0, 0.518);
  font-weight: bolder;
  cursor: pointer;
  margin-left: 0.5rem;
}

.search-box{
    
    width: 100%;
    background:transparent;
    /* background-color: aquamarine; */
    /* border:1px solid black; */
    height: 6%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 1.5rem;
    padding-left: 1rem;
    padding-right:0.5rem;
    margin-top: 1.5rem;
    
}
.search-box form{
      height: 2.5rem;
          width: 80%;
}
.search-box input{
    background-color: rgba(255, 255, 255, 0.203);
    border: none;
    outline: none;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2.5rem;
    width: 100%;
    border-radius: 1.5rem;
}
.search-box input:focus{
  border: 1px solid white;
}
.search-box input::placeholder{
    /* font-size: 1.1rem; */
    /* color: rgba(255, 255, 255, 0.596); */
    color: #ddd;
    text-transform: uppercase;
}

.search-box .location{
    width: 10%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.location span{
    color: white;
    font-size: 2.5rem;
}
.hourly-Forecast{
  padding: 0.5rem 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.274);
  /* padding-bottom: 2rem; */
}
.hourly-Forecast .weather-list{
  text-decoration: none;
  display: flex;
  list-style: none;
  /* margin-bottom: -16px; */
  padding-bottom: 16px;
  gap: 34px;
  scrollbar-color: transparent transparent; 
  overflow-x: auto;


}
.hourly-Forecast:hover .weather-list
{
  scrollbar-color: gray transparent;
}

.hourly-Forecast .weather-item .weather-icon{
  width: 28px;
  aspect-ratio: 1;
}
.hourly-Forecast .weather-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.weather-container .curr-weather{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 50px;
}

.curr-weather img{
  width: 6rem;
  aspect-ratio: 1;
}
.curr-weather h1{
  display: flex;
  font-weight: 900;
  margin: 1rem 0px;
  font-size: 3rem;
}
.curr-weather h1 span{
  font-size: 2rem;

}

.curr-weather .description{
  font-size: 1.5rem;
}


@media (max-width: 700px) {
  .Weather-Box {
    /* min-height: 60%; */
        /* background-color: #3e326cc7; */
    /* border-radius: 1rem; */
    width: 99%;
  }
  .search-box{
    height: 5%;
  }
}
@media (max-width: 1000px) and (min-width:700px) {
  .Weather-Box {
    /* min-height: 60%; */
        /* background-color: #3e326cc7; */
    /* border-radius: 1rem; */
    /* width: %; */
    width: 70%;
  }
  .search-box{
    height: 5%;
  }
}
